@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&family=Special+Elite&family=Vast+Shadow&display=swap');
/* Root colors */
:root {
  --blue-background: rgba(49, 92, 142, 0.8);
  --dark-blue-background: rgba(59, 96, 138, 0.8);
  --page-background: rgb(231, 236, 242);
  --white: #fff;
  --violet: #7284c9;
  --light-gray: #c9c9c9;
  --blue-btn: rgba(87, 135, 189, 0.8);
  --blue-btn-hover: rgba(138, 176, 219, 0.8);
  --dark-blue-text: #10284e;
  --green: #2fbd7d;
  --light-green: #65d4a2;
}

html {
  height: 100%;
}

body {
  background-color: rgb(231, 236, 242);
  font-family: 'Roboto Slab', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Navbar */
.header-nav {
  background-color: #181842;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
  font-weight: 600;
}

.navbar-dark .navbar-brand {
  color: var(--white);
}

.logo {
  height: 47px;
}

a.active {
  border-bottom: 1px solid var(--white);
  font-weight: 800;
}

/* Hero section */
#hero-image {
  background-image: url(./media/map.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
}

.hero-text-container {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.hero-text-container h1 {
  font-size: 2.5rem;
}

/* Footer */
#footer {
  background-color: #181842;
  color: var(--white);
  margin-top: auto;
}

#social-links a {
  text-decoration: none;
}

#social-links a i {
  color: var(--white);
  font-size: 25px;
}

.copyright {
  background-color: #0e0e25;
}
